/* styles.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; /* Couleur de fond du jeu */
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Fond noir pour le jeu */
    overflow: hidden;
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #FF4500; /* Couleur du joueur */
    border-radius: 50%; /* Forme circulaire */
    transform: translateX(-50%); /* Centrer le joueur */
}

.star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FFD700; /* Couleur des étoiles */
    border-radius: 50%; /* Forme circulaire */
}

#score, #time {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFF;
    font-size: 24px;
    z-index: 10;
}
